// COLORS
$primary-color: #e21977;
$secondary-color: #acc1ff;
$font-family: "Lexend", sans-serif;
$title-font-family: "Lexend", sans-serif;

$light-white: #e5e5e5;
$white-color: #ffffff;
$dark-grey: #303030;

// $dark-blue-text: #272341; // For headings
// $dark-blue-text: #601fae; // For headings
$dark-blue-text: #12071f; // For headings

// FONT SIZE
$default-font-size: 2.0rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;

// HEADER
$header-color1: #590bbe;
$header-color2: #acc1ff;
$header-text:#ffffff;
$header-hover:#501fab;

$background-image:url("../../assets/wallhaven-57xml7.png")